services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:7000
    volumes:
      - .:/code
    ports:
      - 7000:7000
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      - DEBUG=True
      - ALLOWED_HOSTS=*
      - PORT=7000
      - REDIS_URL=redis://redis:6379/1  # local Redis in Docker

  redis:
    image: redis:7
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis_data: