services:
  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:7000
    volumes:
      - .:/code
    ports:
      - 7000:7000
    depends_on:
      - db
      - redis
    env_file:
      - .env
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
  redis:
    image: redis:7
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  postgres_data:
  redis_data: