services:
  web:
    build: .
    command: python /code/manage.py runserver 0.0.0.0:7000
    volumes:
      - .:/code
    ports:
      - 7000:7000
    depends_on:
      - redis # remove db from here
    env_file:
      - .env
  redis:
    image: redis:7
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis_data:
