[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
redis = "*"           
django-redis = "*" 
pillow = "*"
rest-framework-simplejwt = "*"
django-cors-headers = "*"
dj-database-url = "==2.0.0"
requests = "*"
django-cloudinary-storage = "*"
pytest = "*"
pytest-django = "*"
coverage = "*"
langchain = "*"
langchain-core = "*"
langchain-groq = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
coverage = "*"

[requires]
python_version = "3.10"
